* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
  background-image: url(pexels-photo-4065876.webp);
}
form {
  margin: auto;
  display: grid;
  width: 500px;
  background-color: white;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 7px;
  box-shadow: 3px 3px 2px #00000073;
  text-align: justify;
  justify-content: center;
  max-height: 90vh;
  opacity: 90%;
}
.span-required {
  display: none;
  font-size: 12px;
  margin: 3px 0 0 1px;
  color: #636d5c;
}
h1 {
  text-align: center;
  padding: 28px;
  font-weight: bolder;
  font-size: 36px;
  margin-top: -20px;
}
.principal {
  margin-bottom: 10px;
  margin-top: -12px;
}
p {
  margin-bottom: 10px;
  margin-top: 10px;
}
label {
  font-weight: 500;
  margin-bottom: 7px;
}
input {
  margin-bottom: 13px;
  text-decoration: none;
  height: 19px;
  border: 1px solid rgb(202, 198, 198);
  box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.507);
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: #636d5c;
  border: 2px;
}
.radio input {
  position: absolute;
  top: 428px;
  display: inline-block;
  margin-top: 14px;
  margin-bottom: 19px;
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0);
  outline: none;
}
.radio p {
  font-weight: 400;
  font-size: 16px;
  font-weight: 400;
  font-size: 16px;
}
.radio label {
  margin-right: 15px;
  margin-top: 14px;
  margin-bottom: 15px;
}
textarea {
  height: 50px;
  width: 500px;
  margin-bottom: 20px;
  border: 1px solid rgb(202, 198, 198);
  box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.607);
  outline: none;
}
.pode {
  margin-top: 4px;
}
select {
  height: 27px;
  width: 76px;
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid rgb(202, 198, 198);
  box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.607);
  outline: none;
}
button {
  width: 173px;
  height: 26px;
  font-size: 15px;
  background-color: #010101bf;
  border-radius: 4px;
  border: none;
  box-shadow: 2px 2px 1px #2a292975;
  color: white;
  display: block;
  margin: auto;
  cursor: pointer;
  transition: 0.3s;
}
#data {
  width: 180px;
}
button:hover {
  background-color: #636d5c;
}
.pode {
  margin-top: 27px;
}
#LabelEmpregado {
  margin-left: 15px;
}
#empregado {
  margin-left: -1px;
  margin-top: 11px;
}
#LabelDesempregado {
  margin-left: 18px;
  margin-top: 11px;
}
#desempregado {
  margin-left: 1px;
  margin-top: 11px;
}
#LabelEstudante {
  margin-left: 16px;
}
#estudante {
  margin-top: 11px;
}
#LabelAutonomo {
  margin-left: 42px;
  margin-top: 11px;
}
#autonomo {
  margin-left: 26px;
  margin-top: 11px;
}
@media (max-width: 500px) {
  body {
    background-image: none;
    width: 370px;
  }
  #form {
    width: 306px;
    position: absolute;
    left: 13px;
    top: -20px;
    height: 635px;
    box-shadow: none;
  }
  h1 {
    width: 249px;
    font-size: 19px;
    position: absolute;
    top: 15px;
    left: 15px;
  }
  .principal {
    width: 357px;
    position: absolute;
    left: 3px;
    top: 94px;
    font-size: 14px;
  }

  #name {
    position: absolute;
    top: 172px;
    left: 2px;
    width: 358px;
    height: 28px;
  }
  #LabelNome {
    position: absolute;
    top: 157px;
    left: 4px;
    font-size: 14px;
  }
  #endereço {
    position: absolute;
    top: 232px;
    left: 2px;
    width: 358px;
    height: 28px;
  }
  #LabelMorada {
    position: absolute;
    top: 279px;
    left: 4px;
    font-size: 14px;
  }
  #LabelEmail {
    position: absolute;
    top: 217px;
    left: 4px;
    font-size: 14px;
  }
  #email {
    position: absolute;
    top: 297px;
    left: 2px;
    width: 358px;
    height: 28px;
  }
  .pode {
    position: absolute;
    top: 347px;
    left: 3px;
    width: 242px;
    font-size: 14px;
  }
  #job {
    position: absolute;
    top: 367px;
    left: 2px;
  }
  .radio {
    position: absolute;
    top: 403px;
    left: 103px;
    font-size: 14px;
  }
  #inicio {
    position: absolute;
    top: 351px;
    left: 212px;
    font-size: 14px;
  }
  #data {
    position: absolute;
    top: 372px;
    left: 214px;
    width: 143px;
    height: 28px;
  }
  .radio p {
    position: absolute;
    top: 10px;
    left: -100px;
    width: 292px;
    height: 11px;
    font-size: 14px;
  }
  #LabelEmpregado {
    position: absolute;
    top: 37px;
    left: -85px;
    width: 90px;
    height: 11px;
    font-size: 14px;
  }
  #empregado {
    position: absolute;
    top: 41px;
    left: -101px;
    width: 10px;
    height: 11px;
  }
  #LabelDesempregado {
    position: absolute;
    top: 37px;
    left: 73px;
    width: 171px;
    height: 11px;
    font-size: 14px;
  }
  #desempregado {
    position: absolute;
    top: 41px;
    left: 54px;
    width: 10px;
    height: 11px;
    font-size: 13px;
  }
  #LabelEstudante {
    position: absolute;
    top: 80px;
    left: 73px;
    width: 10px;
    height: 11px;
    font-size: 13px;
  }
  #estudante {
    position: absolute;
    top: 77px;
    left: 54px;
    width: 10px;
    height: 11px;
    font-size: 13px;
  }
  #LabelAutonomo {
    position: absolute;
    top: 74px;
    left: -84px;
    width: 10px;
    height: 11px;
    font-size: 13px;
  }
  #autonomo {
    position: absolute;
    top: 76px;
    left: -101px;
    width: 10px;
    height: 11px;
    font-size: 13px;
  }
  #msg {
    position: absolute;
    top: 520px;
    left: 7px;
    width: 292px;
    height: 11px;
    font-size: 14px;
  }
  textarea {
    position: absolute;
    width: 367px;
    top: 548px;
    left: -2px;
  }
  button {
    position: absolute;
    top: 626px;
    left: 94px;
  }
}
